@CHARSET "UTF-8";

@import url('flipbutton.css');

.container {
    display:table;
    width:100%;
}

.table-row {
    display:table-row;
}

.thcell, .table-header-cell {
    display     : table-cell;
    font-family : arial, helvetica, sans-serif;
    font-size   : 12pt;
    font-weight : bold;
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 8px;
    padding-right : 8px;
}

.table-cell {
    display     : table-cell;
    font-family : arial, helvetica, sans-serif;
    font-size   : 12pt;
    padding: 5px;
    border: 1px solid lightblue;
    border-collapse: collapse;
}
.table-cell-odd {
    display     : table-cell;
    font-family : arial, helvetica, sans-serif;
    font-size   : 12pt;
    background-color: #fff;
    color:black;
    padding: 5px;
    border: 1px solid lightblue;
    border-collapse: collapse;
}

.table-cell-even {
    display     : table-cell;
    font-family : arial, helvetica, sans-serif;
    font-size   : 12pt;
    background-color: #cecece;
    color:black;
    padding: 5px;
    border: 1px solid lightblue;
    border-collapse: collapse;
}

.table    { display:table; }
.table100 { display:table;width:100%!important; }
.table99  { display:table; width:99%; margin: 0 auto; }
.table50  { display:table; width:50%; margin: 0 auto; }
.table25  { display:table; width:25%; margin: 0 auto; }
.trow     { display:table-row; }
.tcell    { display:table-cell; }
.tcell100 { display:table-cell; width:100%; }
.tcell10  { display:table-cell; width:10%; }
.tcell15  { display:table-cell; width:15%; }
.tcell20  { display:table-cell; width:20%; }
.tcell25  { display:table-cell; width:25%; }
.tcell30  { display:table-cell; width:30%; }
.tcell33  { display:table-cell; width:33%; }
.tcell40  { display:table-cell; width:40%; }
.tcell50  { display:table-cell; width:50%; }
.tcell60  { display:table-cell; width:60%; }
.tcell70  { display:table-cell; width:70%; }
.tcell75  { display:table-cell; width:75%; }
.tcell80  { display:table-cell; width:80%; }
.tcell90  { display:table-cell; width:90%; }
.tcell99  { display:table-cell; width:99%; margin:0 auto; }

.h40 {
    vertical-align:middle;
}

.centered {
    width:100%!important;
    text-align:center;
}

/**
 override title-bar from jquery-ui
 */
.ui-dialog-titlebar {
    background:transparent;
    border: 1px solid lightgrey;
}

.f12b, .f12 {
    font-family: Arial, helvetica, Sans-Serif;
    font-size: 12pt;
}
.f12b {
    font-weight:bold;
}

.h40 {
    height:40px;
    vertical-align:middle;
}

.optionentry {
    border:1px solid lightgrey;
    padding-top: 12px;
    padding-left: 10px;
    height:30px;
}

.optionentry:hover {
    border:1px solid white;
    background-color: lightgrey;
    padding-top: 12px;
    padding-left: 10px;
    height:30px;
}

button {
    border-top:1px solid lightgrey;
    border-left:1px solid lightgrey;
    border-bottom:1px solid grey;
    border-right:1px solid grey;
    border-radius: 4px;
    background-color:#ddd;
    background: linear-gradient(#eee, #ddd);
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 0;
    padding-bottom: 0;
    width:120px;
    height:40px;
}

button:active:enabled, .defaultButton:focus:enabled {
    background: linear-gradient(#ddd, #ddd);
    border-top:1px solid lightgrey;
    border-left:1px solid lightgrey;
    border-bottom:1px solid lightgreygrey;
    border-right:1px solid lightgreygrey;
}

button:hover:enabled {
    background: linear-gradient(#fefefe, #eee);
}

button:disabled {
    opacity: 0.5;
}

.defaultButton {
    line-height:12pt;
    width:100px;
    height:46px;
}

.smallButton {
    line-height:12pt;
    width:36px;
    height:36px;
}

.lalign {
    text-align:left;
    padding-left:5px;
}

.ralign {
    text-align:right;
    padding-right:5px;
}

.calign {
    text-align:center;
}

.vtop {
    vertical-align:top;
}

.vmiddle {
    vertical-align:middle;
}

.vbottom {
    vertical-align:bottom;
}
