@CHARSET "UTF-8";

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 4px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    /*padding-left: 4px;*/
    background-color: #FFFFFF; color: #eb8f00;
    text-align: center;
}
.onoffswitch-inner:after {
    content: "OFF";
    /*padding-right: 25px;*/
    background-color: #FFFFFF; color: #1c94c4;
    text-align: center;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 2.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 4px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.onoffswitch_small {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch_small-checkbox {
    display: none;
}
.onoffswitch_small-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 4px;
}
.onoffswitch_small-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch_small-inner:before, .onoffswitch_small-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch_small-inner:before {
    content: "ON";
    text-align: center;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch_small-inner:after {
    content: "OFF";
    text-align: center;
    background-color: #EEEEEE; color: #999999;
}
.onoffswitch_small-switch {
    display: block; width: 14px; margin: 5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 6px;
    position: absolute; top: 0; bottom: 0; right: 32px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch_small-checkbox:checked + .onoffswitch_small-label .onoffswitch_small-inner {
    margin-left: 0;
}
.onoffswitch_small-checkbox:checked + .onoffswitch_small-label .onoffswitch_small-switch {
    right: 0px; 
}